# Environment specific configuration
default.*.yaml

# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE specific files
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 

debug
examples
bin

# Docker environment file
docker.env
